
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySensorLabel">Create or edit a Sensor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sensor.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sensor.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="enviromentBoxApp.sensor.id_device" for="field_id_device">Id Device</label>
            <select class="form-control" id="field_id_device" name="id_device" ng-model="vm.sensor.id_device" ng-options="device as device.id for device in vm.devices track by device.id" required>
            </select>
        </div>
        <div ng-show="editForm.id_device.$invalid">
            <p class="help-block"
                ng-show="editForm.id_device.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_tipoSensor">Tipo Sensor</label>
            <select class="form-control" id="field_tipoSensor" name="tipoSensor" ng-model="vm.sensor.tipoSensor" ng-options="tipoSensor as tipoSensor.id for tipoSensor in vm.tiposensors track by tipoSensor.id" required>
            </select>
        </div>
        <div ng-show="editForm.tipoSensor.$invalid">
            <p class="help-block"
                ng-show="editForm.tipoSensor.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
