
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlertaDeviceLabel">Create or edit a Alerta Device</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alertaDevice.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alertaDevice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="enviromentBoxApp.alertaDevice.data_hora" for="field_data_hora">Data Hora</label>
                <div class="input-group">
                    <input id="field_data_hora" type="text" class="form-control" name="data_hora" uib-datepicker-popup="{{dateformat}}" ng-model="vm.alertaDevice.data_hora" is-open="vm.datePickerOpenStatus.data_hora"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_hora')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data_hora.$invalid">
                <p class="help-block"
                    ng-show="editForm.data_hora.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_processado">Processado</label>
            <input type="number" class="form-control" name="processado" id="field_processado"
                    ng-model="vm.alertaDevice.processado"
                    required min="0" max="1"/>
            <div ng-show="editForm.processado.$invalid">
                <p class="help-block"
                    ng-show="editForm.processado.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.processado.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.processado.$error.max">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.processado.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.alertaDevice.device" ng-options="device as device.nome for device in vm.devices track by device.id" required>
            </select>
        </div>
        <div ng-show="editForm.device.$invalid">
            <p class="help-block"
                ng-show="editForm.device.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_sensor">Sensor</label>
            <select class="form-control" id="field_sensor" name="sensor" ng-model="vm.alertaDevice.sensor" ng-options="sensor as sensor.id for sensor in vm.sensors track by sensor.id" required>
            </select>
        </div>
        <div ng-show="editForm.sensor.$invalid">
            <p class="help-block"
                ng-show="editForm.sensor.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
